.loginPage {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  .formBorder {
    // border: 0.1px solid #ff893d;
    box-shadow: 0 0 7px #ff893d;
    padding: 90px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      margin-bottom: 10px;
      color: #ffffff;
      background-color: #ff893d;
      border-radius: 10px;
      padding: 3px 6px;
      width: 60%;
      text-align: center;
    }
    input {
      margin-bottom: 10px;
      border-radius: 10px;
      border: 2px solid #ff893d;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: #ff893d;
      border: none;
      padding: 5px;
      border-radius: 10px;
      color: white;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: #ffffff;
        color: #ff893d;
        transition: all 200ms;
      }
    }
  }
}
