$light: #eeeeee;
$mid: #9fb8ad;
$dark: #383e56;
$orange: #fb743e;
.cardWiz {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;

  height: 100px;
  // box-shadow: 0 4px 2px -2px #ff893d; 
  box-shadow: 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
  &:hover{
    box-shadow: 0px 4px 2px -2px $orange;
    transform: scale(1.02);
  }
  .card-wrapperWiz {
    display: flex;
    align-items: center;
    img {
      display: block;
      margin-right: 30px;
      width: 85px;
    }
    .nameWiz {
      margin-bottom: 10px;
    }
  }
}
