.searchCandidates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px auto 10px auto;
  input {
    display: block;
    border: 2px solid #ff893d;
    border-radius: 10px;
    width: 13%;
    padding: 2px 7px;
    &:focus {
      outline: none;
    }
  }
}
