.wizardCandidate {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  .steps {
    margin-top: 10px;
    width: 30%;
    text-align: center;
    p {
      margin: 10px;
    }
    div {
      margin: 10px;
      display: flex;
      align-items: center;
      .number {
        border: 1.5px solid black;
        border-radius: 50%;
        width: 23px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
    }
  }
  .wizardCandidates {
    width: 70%;

    padding-left: 15px;
    box-shadow: -4px 0px 0px -2px #ff893d;
    .backNextButtons {
      display: flex;
      .back {
        background-color: gray;
      }
    }
    .wizardNext {
      background-color: #ff893d;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      margin: 15px;
      outline: none;
      &:hover {
        color: #ff893d;
        background-color: white;
      }
    }
    .searchWizard {
      display: block;
      border: 2px solid #ff893d;
      border-radius: 10px;
      width: 23%;
      padding: 2px 3px;
      margin-bottom: 10px;
      &:focus {
        outline: none;
      }
    }
  }
}

hr {
  margin: 20px auto;
  width: 80%;
  background-color: #ff893d;
}
// THIRD PAGE

.thirdPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  .datePhaseStatus {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  select {
    border: 2px solid #ff893d;
  }
  input {
    border: 2px solid #ff893d;
  }
  p {
    color: gray;
  }

  .notes {
    width: 80%;
    margin: 20px auto;

    textarea {
      width: 100%;
      border: 2px solid #ff893d;
    }
  }
  .backNextButtons {
    .wizardNext {
      background-color: #ff893d;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      margin: 15px;
      outline: none;
      &:hover {
        color: #ff893d;
        background-color: white;
      }
    }
    .back {
      background-color: gray;
    }
  }
}
