.headerFrontBackground {
  width: 100%;
  padding: 5px 0px;
  background-color: #ff893d;

  .headerFront {
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .loginLogout {
      button {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 2px 4px;
        border: none;
        color: #ff893d;
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}
